aiodns
aiohttp
aiosignal
appdirs
asgiref
async-timeout
attrs
Babel
bcc
bcrypt
beautifulsoup4
blinker
# Brlapi
Brotli
certifi
chardet
click
# cloud-init
colorama
# command-not-found
configobj
contourpy
crispy-bootstrap5
cryptography
cssselect
cupshelpers
cycler
dbus-python
decorator
defer
distlib
distro
distro-info
dj-database-url
Django
django-crispy-forms
django-environ
filelock
fonttools
frozenlist
fs
html5lib
httplib2
idna
importlib-metadata
jaraco.classes
jeepney
Jinja2
jsonpatch
jsonpointer
jsonschema
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
lxml
lz4
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
mpmath
multidict
netaddr
netifaces
numpy
oauthlib
olefile
packaging
pexpect
pillow
pipenv
platformdirs
proton-core
proton-keyring-linux
proton-keyring-linux-secretservice
proton-vpn-api-core
proton-vpn-connection
proton-vpn-gtk-app
proton-vpn-killswitch
proton-vpn-killswitch-network-manager
proton-vpn-logger
proton-vpn-network-manager
proton-vpn-network-manager-openvpn
proton-vpn-session
psycopg2
ptyprocess
pycairo
pycares
pycups
Pygments
PyGObject
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
python-gnupg
pytz
pyxdg
PyYAML
requests
rich
SciPy
SecretStorage
sentry-sdk
setuptools
six
soupsieve
sqlparse
sympy
systemd-python
tabulate
ubuntu-drivers-common
ubuntu-pro-client
ufoLib2
ufw
unattended-upgrades
unicodedata2
urllib3
vboxapi
virtualenv
wadllib
webencodings
wheel
xdg
xkit
yarl
zipp
